@page


@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Sign In</title>
</head>
<body>
<div>
    <h2>Sign in</h2>
    <form method="post">
        <label for="Login">Login:</label>
        <input type="text" name="Login"/><br/>
        <label for="Password">Password:</label>
        <input type="password" name="Password"/><br/>
        <input type="submit" value="Send"/>
    </form>
</div>
</body>
</html>