<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>Title</h2>
    <div><a href="/in/sign">Sign In</a> | <a href="/up/sign">Sign Up</a></div>

    <div>@RenderBody()</div>

</body>
</html>